*{
    margin:0;
    padding:0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.cont{
    width: 30vw;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
}

.box{
    width: 10vw;
    height: 20vh;
    background-color: blueviolet;
    border: 10px solid black;
    border-radius: 15%;
    font-size: xxx-large;
}

.row{
    flex-direction: row;
}

.msg{
    margin-right: 200px;
    background-color: rgb(230, 213, 192);
    width: 350px;
    height: 150px;
    border-radius: 6%;
    font-size: x-large;
}